{% extends 'base.html.twig' %}

{% block title %}Gestion des sites{% endblock %}

{% block main %}
    <h1>Gestion des sites</h1>
    <div id="filterSite">
        <h2>Filtrer les sites</h2>
        <form name="formNom" id="formNom" method="post">
        <label for="nomS">Le nom contient :</label>
        <input type="text" name="nomS">
        <input type="submit" value="Rechercher">
        </form>
    </div>
   <table class="tableAdmin"><thead><tr><th scope="col">Ville</th><th>Actions</th></tr></thead>
       <tbody>
       {% set i=0 %}
       {% for site in sites %}{% set i=i+1 %}
           <tr><td id="colNom{{ i }}"><label id="labelSite{{ i }}">{{ site.nom }}</label></td>
               <td><form name="formGes" method="post"> <input type="hidden" id="SiteNom{{ i }}" name="siteNom" value="{{ site.nom }}"><label class="btnGesSite" id="btnModif{{ i }}" onclick="modifier({{ i }})">Modifier</label><label class="btnGesSiteA" id="btnValid{{ i }}" onclick="valider()">Valider</label> <input type="submit" class="btnGesSite" value="Supprimer"></form></td></tr>
       {% endfor %}
       <tr><td><form name="formAddSite" id="formAddSite" method="post"><input type="text" name="nomAdd" required></form></td><td><input type="submit" id="btnGesSite" form="formAddSite" value="Ajouter"></td></tr>
       </tbody>
   </table>


{% endblock %}