{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}


    <div id="infoNow"><p>Date du jour : {{ dateNow }}</p>
        <p>Participant : Lefebvre Marc</p></div>
    <div class="Filtres"></div>

    <div id="filtreDiv">
        <h2>Filtrer les sorties</h2>
        {{ form_start(filtreForm) }}
            <div id="LeftFilter">
                <div>
                    <label for="Site">Site :</label>
                    <select name="Site" id="SiteSelect">
                        {% for site in sites %}
                            <option {% if siteC == site.nom %} selected='selected'{% endif %} >{{ site.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="search">Le nom de la sortie contient :</label>
                    <input type="search" name="search" id="nameSearch" placeholder="search">
                </div>
                <div>
                    <label for="dateDebut">Entre</label>
                    <input type="date" name="dateDebut" id="dateDebut" {% if dateD %} value="{{ dateD }}" {% endif %}>
                    <label for="dateFin">et</label>
                    <input type="date" name="dateFin" id="dateFin" {% if dateF %} value="{{ dateF }}" {% endif %}>
                </div>
            </div>
            <div id="checkFilter"><ul id="listFiltre">
                    <li><input type="checkbox" name="SortOrg" id="SortOrg" {% if ckOrg=="on" %}checked{% endif %}><label for="SortOrg">Sorties organisés</label></li>
                    <li><input type="checkbox" name="SortIns" id="SortIns" {% if ckIns=="on" %}checked{% endif %}><label for="SortIns">Sorties inscrit.e.s</label></li>
                    <li><input type="checkbox" name="SortNon" id="SortNon" {% if ckNon=="on" %}checked{% endif %}><label for="SortNon">Sorties non inscrit.e.s</label></li>
                    <li><input type="checkbox" name="SortPast" id="SortPast" {% if ckPast=="on" %}checked{% endif %}><label for="SortPast">Sorties passées</label></li>
                </ul></div>
            <div>
                <input type="submit" method="post" value="Rechercher" id="BtnFiltre"></div>
        {{ form_end(filtreForm) }}
    </div>


{% endblock %}
