{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}


    <div id="infoNow"><p>Date du jour : {{ dateNow }}</p>
        {% if app.user %}
        <p>Participant : {{ app.user.nom }} {{ app.user.prenom }}</p>
        {% endif %}</div>

    <div class="Filtres"></div>
    <div id="filtreDiv">
        <h2>Filtrer les sorties</h2>
        {{ form_start(filtreForm) }}
            <div id="LeftFilter">
                <div>
                    <label for="Site">Site :</label>
                    <select name="Site" id="SiteSelect">
                        {% for site in sites %}
                            <option {% if siteC == site.nom %} selected='selected'{% endif %} >{{ site.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="search">Le nom de la sortie contient :</label>
                    <input type="search" name="search" id="nameSearch" placeholder="search">
                </div>
                <div>
                    <label for="dateDebut">Entre</label>
                    <input type="date" name="dateDebut" id="dateDebut" {% if dateD %} value="{{ dateD }}" {% endif %}>
                    <label for="dateFin">et</label>
                    <input type="date" name="dateFin" id="dateFin" {% if dateF %} value="{{ dateF }}" {% endif %}>
                </div>
            </div>
        {% if app.user %}
            <div id="checkFilter"><ul id="listFiltre">
                    <li><input type="checkbox" name="SortOrg" id="SortOrg" {% if ckOrg=="on" %}checked{% endif %}><label for="SortOrg">Sorties organisés</label></li>
                    <li><input type="checkbox" name="SortIns" id="SortIns" {% if ckIns=="on" %}checked{% endif %}><label for="SortIns">Sorties inscrit.e.s</label></li>
                    <li><input type="checkbox" name="SortNon" id="SortNon" {% if ckNon=="on" %}checked{% endif %}><label for="SortNon">Sorties non inscrit.e.s</label></li>
                    <li><input type="checkbox" name="SortPast" id="SortPast" {% if ckPast=="on" %}checked{% endif %}><label for="SortPast">Sorties passées</label></li>
                </ul></div>
        {% else %}
        <div id="checkFilter"></div>
        {% endif %}
            <div>
                <input type="submit" method="post" value="Rechercher" id="BtnFiltre"></div>
        {{ form_end(filtreForm) }}
    </div>

    <div>
        <table class="tableSortie">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Date heure de début</th>
                <th scope="col">Date limite inscription</th>
                {% if app.user %}
                    <th scope="col">Nombre inscrits</th>
                    <th scope="col">etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">organisateur</th>
                    <th scope="col">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
            <tr>
                <td><a href="#{# path() #}">{{ sortie.nom }}</a></td>
                <td>{{ sortie.dateHeureDebut|date("d-m-Y H:i") }}</td>
                <td>{{ sortie.dateLimiteInscription|date("d-m-Y") }}</td>
                {% if app.user %}
                    <td>{% set i=0 %} {% set inscrit = 0 %}
                        {% for participant in sortie.participants %}
                            {% if participant.id == app.user.id %}
                            {% set inscrit = 1 %}
                            {% endif %}
                            {% set i=i+1 %}
                        {% endfor %}
                        {{ i }}/{{ sortie.nbInscriptionMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>{% if inscrit == 1 %} X {% endif %}</td>
                    <td>{{ sortie.organisateur.pseudo }}</td>
                    <td>{% if sortie.organisateur.id == app.user.id %}
                            {% if sortie.etat.libelle == "Creee" %}Modifier Publier
                            {% elseif sortie.etat.libelle == "Ouverte" or sortie.etat.libelle == "Fermee" %}Annuler{% endif %}
                        {% elseif inscrit == 1 %} Se désister
                        {% else %}S'inscrire{% endif %}</td>
                {% endif %}
            </tr>{% endfor %}
            </tbody>

        </table>
    </div>
    <a href="/creer-sortie"><button id="btnCreaSortie">Créer une sortie</button></a>

{% endblock %}
