{% extends 'base.html.twig' %}

{% block title %}Gestion des lieux{% endblock %}

{% block main %}
    <h1>Gestion des lieux</h1>
    <div id="filterSite">
        <h2>Trouver un lieu</h2>
        <form name="formNom" id="formNom" method="post">
            <label for="nomL">Le nom contient :</label>
            <input type="text" name="nomL">
            <input type="submit" value="Rechercher">
        </form>
    </div>
    <table class="tableLieu"><thead><tr><th scope="col">Nom</th><th>Rue</th><th>Latitude</th><th>Longitude</th><th>Ville</th>{# <th>Actions</th> #}</tr></thead>
        <tbody>
        {% set i=0 %}
        {% for lieu in lieux %}{% set i=i+1 %}
            <tr><td id="colNom{{ i }}"><label id="labelSite{{ i }}">{{ lieu.nom }}</label></td>
                <td>{{ lieu.rue }}</td><td>{{ lieu.latitude }}</td><td>{{ lieu.longitude }}</td><td>{{ lieu.ville.nom }}</td>
{#                <td><form name="formGes" method="post"> <input type="hidden" id="lieuNom{{ i }}" name="lieuNom" value="{{ lieu.nom }}"><label id="btnGesSite" onclick="modifier({{ i }})">Modifier</label> <input type="submit" id="btnGesSite" value="Supprimer"></form></td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button id="btnAjout" onclick="afficher()">Ajouter</button>
    <div id="lieuAjout">
        <form method="post" name="formAjout" id="formAjoutLieu">
            <div>
                <label id="lbLieu" for="Nom">Nom du lieu :</label>
                <input type="text" name="Nom" required>

                <label id="lbLieu" for="Rue">Adresse :</label>
                <input type="text" name="Rue">
            </div>
            <div>
                <label id="lbLieu" for="Lat">Latitude :</label>
                <input type="number" name="Lat" step="any" min="-90" max="90">

                <label id="lbLieu" for="Long">Longitude :</label>
                <input type="number" name="Long" step="any" min="-90" max="90">
            </div>
            <div id="divSelVille"><select name="ville" id="selVille">
                    <option value=""></option>
                    {% for ville in villes %}
                    <option value="{{ ville.nom }}">{{ ville.nom }}</option>
                    {% endfor %}
                </select>
                <label id="btnAjoutVille" onclick="afficherAjout()">Ajouter une ville</label>
            </div>
            <div id="divCreaVille">
                    <label id="lbLieu" for="cp">Code Postal :</label><input type="number" id="cp" name="cp" min="10000" max="99999">
                    <label id="lbLieu" for="nomV">Ville :</label><input type="text" id="nomV" name="nomV">
                    <label id="btnAjoutVille" onclick="masquerAjout()">Annuler ajout d'une ville</label>
            </div>

            <div id="btnAjoutLieu">
                <input type="submit" value="Ajouter">

                <a href="https://www.gps-longitude-latitude.net/" target="_blank">Pour trouver les données GPS, cliquez sur ce lien</a>
            </div>
        </form>
    </div>
    {% if error == 1 %}
        <p id="error">UNE VILLE DOIT ETRE SAISIE</p>
    {% endif %}
{% endblock %}
